@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


.body{
  overflow: hidden;
}

.nav{
  padding-top: 36px;

}

.list_social{
  padding-inline-start: 0;
  margin-block-start: 0;
}
.item_social{
  margin-top: 12px;
  margin-bottom: 36px;
  list-style: none;
  display: inline-block;
  font-size: 2em;
  padding-right: 16px;

  vertical-align: middle;
  
}
.social_icon{
  color: darkgrey;
}

.section_title{
  text-align: left;
}
.section_subtitle{
  margin-bottom: 32px;
}
.section{
  margin-bottom: 48px;
}

.projects_item{
  margin-bottom:32px;
  position: relative;
}
.project_subtitle::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #cfd8dc 70%);
}
.project_subtitle{
  text-overflow: ellipsis;
  height: 5.6em;
  position: relative;
  text-align: justify;
  overflow: hidden;
}

.project_img{
  object-fit: cover;
  height:60vw;
  width: 100%;
  

}

.tag{
  margin-right: 6px;
}


.hero_profilepic{
  margin-top: 56px;
  height:70vw;
  object-fit: cover;
  width:100%;
  margin-bottom: 76px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


@media (min-width: 996px) { 
  .project_img{
    height:20vw;
  }
  .hero_profilepic{
    height:25vw;
  }
 }


.hero_section{
  padding-top: 30px;
  z-index: 1000;
}

.hero_row{
  margin-left: 0px;
  margin-right: 0px;
}
.hero_gallery{
  position: absolute;
  z-index: -1000;

}

.brand{
  font-family: 'Oxygen', Roboto, sans-serif;
}
 .hero_title{
   margin-top: 76px;
   font-family: 'Oxygen', Roboto, sans-serif;
   text-decoration: underline;
   font-weight: bold;

 }
 .hero_subtitle{
  margin-top: 40px;
  font-weight: lighter;
 }

.portfolio_nav{
  width: 100%;
  padding-top: 36px;
  padding-bottom:36px;
  font-weight: lighter;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  padding: 32px;
  overflow:hidden;
  background-color: lightgrey;
  opacity: 0;
  transition: .5s ease;
}

.projects_item:hover .overlay {
  opacity: 1;
  overflow: hidden;
}

.landing_hero_picture{
  width: 100%;
  height: auto;
  object-fit: contain;
}


.gradient{
   
  background: linear-gradient(27deg, #08AEEA, #2AF598, #FFCC70, #ffffff);
  background-size: 800% 800%;
  width: 100%;
  height:220px;
  position: absolute;
  transform:skewY(13deg);

  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:46% 0%}
  50%{background-position:55% 100%}
  100%{background-position:46% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:46% 0%}
  50%{background-position:55% 100%}
  100%{background-position:46% 0%}
}
@keyframes AnimationName {
  0%{background-position:46% 0%}
  50%{background-position:55% 100%}
  100%{background-position:46% 0%}
}

.modal_header{
  background-color: dimgray;
  color: white;
  font-size: larger;
}

.modal_subtitle{
  margin-top: 16px;
}