@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.hero_picture{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.blurred_box{
  border-radius: 2px;
  overflow: hidden;

  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred_box::before{
    content: '';
    background-color: rgba(255, 255, 255, 0.3);

    height: 100%;
    position: absolute;
    width: 100%; 
    border-radius: 15px;
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
   }

.hero_section{
    padding-top: 40px;
    z-index: 1000;
}


.hero_title{
    margin-top: 40px;
    font-family: 'Oxygen', Roboto, sans-serif;
    opacity: 0.9;
}
.hero_subtitle{
   margin-top: 20px;    
   font-family: 'Oxygen', Roboto, sans-serif;
    margin-bottom: 60px;
}

.nav{
    padding:2rem 0 !important;
}

    .brand{
        font-family: 'Oxygen', Roboto, sans-serif;
    }


.gradient{
   
        background: linear-gradient(27deg, #4158D0, #C850C0, #FFCC70, #ffffff);
        background-size: 800% 800%;
        width: 100%;
        height:580px;
        position: absolute;
        transform:skewY(30deg);
        z-index: -1000;
    
        -webkit-animation: AnimationName 60s ease infinite;
        -moz-animation: AnimationName 60s ease infinite;
        animation: AnimationName 60s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:46% 0%}
        50%{background-position:55% 100%}
        100%{background-position:46% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:46% 0%}
        50%{background-position:55% 100%}
        100%{background-position:46% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:46% 0%}
        50%{background-position:55% 100%}
        100%{background-position:46% 0%}
    }
.hero_demo{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    padding: 32px;
    margin-bottom: 12px;
}

.demo_title{
    background-color: #ffffff88;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    border-radius: 10px;
    padding:32px;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: Oxygen, Roboto, sans-serif;
}
.demo_image{
    width: 100%;
    height: 100px;
    object-fit: cover;
    background-color: #ffffff88;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    border-radius: 10px;
    overflow: hidden;
    height:100px;
    object-fit: cover;
    margin-top: 12px;
}

.tile_image{
    width: 100%;
    object-fit: cover;
    height: 100px;
}
.tile_git{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    padding: 32px;
    margin-bottom: 24px;
    height: 250px;
}
.tile_icon{
    font-size: 2em;
    margin-right: 8px;
    margin-bottom: 8px;
}